.content-wrapper {
  flex: 1 1 auto; 
  overflow-y: auto;
  padding: 20px;
  background-color: #F5F6F9;
}
.profile-card{
   background: #2a295c;
  background-image: url(src/assets/img/pngwing1.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-radius: 6px;
}
.quick-links {
  border-radius: 6px;
  padding: 16px 21px 15px 12px; 
  border-width: 1px 1px 3px 1px;
  border-style: solid;

  &.blue {
    border-color: #199cda;
  }
  &.green {
    border-color: #34A866;
  }
  &.yellow {
    border-color: #FCBD4C;
  }
  &.orange {
    border-color: #EF661A;
  } 
}

.quick-links-img{
  border-radius: 6px;
  padding: 8px;

  &.blue {
    background-color: #199cda;
  }
  &.green {
    background-color: #34A866;
  }
  &.yellow {
    background-color: #FCBD4C;
  }
  &.orange {
    background-color: #EF661A;
  }
}

.sub-name{ 
    width: 100px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;

    &.lightblue{
    background: rgba(40, 56, 151, 0.15);
    padding: 16px;
    color: #283897;
    }

    &.lightgreen{
    background: rgba(52, 168, 102, 0.15);
    padding: 16px;
    color: #34a866;
    }

    &.lightorange{
    background: rgba(239, 102, 26, 0.15);
    color: #ef661a;
    padding: 16px;
    }

    &.lightyellow{
    background: rgba(252, 189, 76, 0.15);
    color: #fcbd4c;
    padding: 16px;
    }

    &.blue{
    background: rgba(25, 156, 218, 0.15);
    color: #199cda;
    padding: 16px;
    }
}

.date-box{
    width: 50px;
    padding: 4px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 600;
    &.lightblue{
    background: rgba(40, 56, 151, 0.15);
    color: #283897;
    }

    &.lightgreen{
    background: rgba(52, 168, 102, 0.15);
    color: #34a866;
    }

    &.lightorange{
    background: rgba(239, 102, 26, 0.15);
    color: #ef661a;
    }

    &.lightyellow{
    background: rgba(252, 189, 76, 0.15);
    color: #fcbd4c;
    }

    &.blue{
    background: rgba(25, 156, 218, 0.15);
    color: #199cda;
    }
    &.lightred{
      background: rgba(218, 32, 32, 0.15);
      color: #da2020;
    }
}

.box-scroll{
  max-height: 388px; 
  height: 388px;
  overflow-y: auto;
}

/* Entire calendar container */
.react-calendar {
 border: 0;
 padding-right: 13px;
 width: 466px;
 border-right: 3px solid #F5F6F9;
}

 button {
      background-color: #fff;
      border: none;
      font-weight: 600;
      padding: 8px ;
      &:hover {
        background-color: #F5F6F9 !important;
        border-radius: 8px;
        color: #283897;
      }
    }

.react-calendar__navigation {
 font-size: 20px;
  font-weight: 600;
  color: #2a295c !important;
  margin-bottom: 0px;
}
.react-calendar__tile:hover {
  background-color: #283897 !important;
  border-radius: 8px;
  color: #fff;
}

.react-calendar__tile--active {
  background-color: #283897 !important;
  border-radius: 8px;
  color: #fff;
}

/* Current day */
.react-calendar__tile--now {
  background: #e0e0e0;
  border: 1px solid #199cda;
}
